/* The company logo */

.logo h4{
	color:  #ffffff;
	font: normal 28px 'Cookie', cursive;
	margin: 0;
}

.logo h4 span{
	color:  #5383d3;
}



/* Div que engloba el contenido de la página menos el footer */
#wrapper {
    min-height:100%;
}